<!DOCTYPE html>
<html>
<head>
<h1>
	<strong>
		Welcome to ******* Betting Service
	</strong>
</h1>
<link rel="stylesheet" href="\Front End\app\static\css\home_style.css">
</head>
<body>

<div text-align: center;">
	
</div>
<p>&nbsp;

<div><br>
	<strong>
    	<h2>{{team_name}}</h2>
</p>
<div style="color:grey">
	<h2 style="color: #2e6c70; text-align: center">
			{% for team in teams%}
			<div style="width:80px; height:80px; display:block; display: inline-block; margin:15px">
				<form action="/info/{{team}}" method="POST">
					<input type="text" name="text" value="{{team}}" style="display:none">
					<input type="image" src="/static/Images/Team Logos/{{team}}.png" style="width:80px; height:80px" name="my-form" value="Send">
				</form>
			</div>
			{% endfor %}
	</h2>
</div>



</body>
</html>