<!DOCTYPE html>
<html>
<head>
<h1>
<strong>
		Welcome to ******* Betting Service
	</strong>
</h1>
<link rel="stylesheet" href="\Front End\app\static\css\home_style.css">
</head>
<body>

<div text-align: center;">
	
</div>
<p>&nbsp;

<div><br>
	<strong>
    	<h2>{{team_name}}</h2>
</p>
<p>&nbsp;
	
</p>
<h2 style="color: #2e6c70; text-align: center">

	<form action="/info" method="POST">
		<input type="text" name="text" value="Arsenal" style="display:none">
		<input type="image" src="\Front End\app\static\Images\Team Logosarsenal.png" style="width:80px; height:80px" name="my-form" value="Send">
		<!-- <a title="Arsenal" href="/info" style="color: #0060B6; text-decoration: none;">
			<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/arsenal.png" alt="Arsenal FC" width="70" height="70" />
		</a> -->
	</form>


	<a title="Bournemouth" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/afc-bournemouth.png" alt="Chealsea2" width="70" height="70" />
	</a>
    
    <a title="Burnley" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/burnley.png" alt="Chealsea2" width="70" height="70" />
	</a>
      	<a title="Chelsea" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/chelsea.png" alt="Chealsea2" width="70" height="70" />
	</a>

	<a title="Crystal Palace" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/crystal-palace-fc.png" alt="Chealsea2" width="70" height="70" />
	</a>
	<a title="Everton" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/everton.png" alt="Chealsea2" width="70" height="70" />
	</a>
      	<a title="Hull" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/hull.png" alt="Chealsea2" width="70" height="70" />
	</a>
	<a title="Leicester City" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/leicester.png" alt="Chealsea2" width="70" height="70" />
	</a>
	<a title="Liverpool" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/liverpool.png" alt="Chealsea2" width="70" height="70" />
	</a>
	<a title="Manchester City" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/man_city.png" alt="Chealsea2" width="70" height="70" />
	</a>
	<a title="Manchester United" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/man_united.png" alt="Chealsea2" width="70" height="70" />
	</a>
	<a title="Boro" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/boro.png" alt="Chealsea2" width="70" height="70" />
	</a>
    
    <a title="Southampton" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/southampton-fc.png" alt="Chealsea2" width="70" height="70" />
	</a>
     <a title="Stoke City" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/stoke-city.png" alt="Chealsea2" width="70" height="70" />
	</a>
    <a title="Sunderland" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/sunderland.png" alt="Chealsea2" width="70" height="70" />
	</a>
    <a title="Swansea" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/swansea.png" alt="Chealsea2" width="70" height="70" />
	</a>
        <a title="Spurs" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/spurs.png" alt="Chealsea2" width="70" height="70" />
	</a>
     <a title="watford" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/watford.png" alt="Chealsea2" width="70" height="70" />
	</a>
     <a title="west brom" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/west brom.png" alt="Chealsea2" width="70" height="70" />
	</a>
  
    <a title="west ham" href="/info" style="color: #0060B6; text-decoration: none;">
		<img style="border-width: 20px; margin: 20px;" src="/static/Images/Team Logos/west ham.png" alt="Chealsea2" width="70" height="70" />
	</a>
</h2>
<h2 style="color: #2e6c70;">&nbsp;
	
</h2>
</body>
</html>