<!DOCTYPE html>
<html>
<head>
<h1 style="text-align: center;">
	<strong>
		Distributed Betting Service
	</strong>
</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


<link rel="stylesheet" href="\Front End\app\static\css\home_style.css">
</head>
<body>

<br>
<br>
<br>
<div class="container">
<div class="col-lg-12" style="background-color: lightgrey;">
	<h2 style="color: #2e6c70; text-align: center">
			{% for team in teams%}
			<div style="width:70px; height:70px; display:block; display: inline-block; margin:15px">
				<form action="/info/{{team}}" method="POST">
					<input type="text" name="text" value="{{team}}" style="display:none">
					<input type="image" src="/static/Images/Team Logos/{{team}}.png" style="width:70px; height:70px" name="my-form" value="Send">
				</form>
			</div>
			{% endfor %}
	</h2>
</div>
</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>