
<head>
<meta http-equiv="refresh" content="20" >
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>

<body>
<div class="container">

	<div style="width:100%;  text-align: center; background-color: grey">
		<div style="width:350px; height:80px; display:block; display: inline-block; margin:10px; background-color: lightgrey">
			<img src="/static/Images/Team Logos/{{home_team}}.png" style="width:80px; height:80px; margin-left:10px margin-right:10px; float:left">
			<div style="width:80px; height:80px; display:block; display: inline-block; color: white">
				<h2 style="position: inherit; top:50%; left:50%">VS</h2>
			</div> 
			<img src="/static/Images/Team Logos/{{away_team}}.png" style="width:80px; height:80px; margin-left:10px margin-right:10px; float:right">
		</div>
	</div>

	<div class="col-md-3" style="float:left; max-height: 400px; margin-top: 40px;">
		<div style="background-color: lightgrey">
			{{home_team_ws}}
			<br><br>
			<div>
				{% for home_result in home_recent_results %}
					<li>{{home_result}}</li>
				{% endfor%}
			</div>
		</div>

		<div style="margin-top: 40px; background-color: lightgrey">
		Match History
			{% for head_to_head in head_to_head_results %}
				<li>{{head_to_head}}</li>
			{% endfor%}
		</div>
	</div>

	<div class="col-md-3" style="float:right; max-height: 400px; margin-top: 40px;">
		<div style="background-color: lightgrey">
			{{away_team_ws}}
			<br><br>
			<div>
				{% for away_result in away_recent_results %}
					<li>{{away_result}}</li>
				{% endfor%}
			</div>
		</div>
	</div>

	<div class="col-md-6" style="margin-top:40px;">
		<div style="background-color: lightgrey; height:400px">
			<table class="table">
			  <thead class="thead-inverse">
			    <tr>
			      <th>Betting Service</th>
			      <th><center>{{home_team_ws}}</center></th>
			      <th><center>Draw</center></th>
			      <th><center>{{away_team_ws}}</center></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row"><img src="/static/Images/Sky_Bet.png" style="width:100px; height:30px"></th>
			      <td><center>0</center></td>
			      <td><center>0</center></td>
			      <td><center>0</center></td>
			    </tr>
			    <tr>
			      <th scope="row"><img src="/static/Images/William_Hill.png" style="width:100px; height:30px"></th>
			      <td><center>0</center></td>
			      <td><center>0</center></td>
			      <td><center>0</center></td>
			    </tr>
			    <tr>
			      <th scope="row"><img src="/static/Images/betvictor.png" style="width:100px; height:30px"></th>
			      <td><center>0</center></td>
			      <td><center>0</center></td>
			      <td><center>0</center></td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>

	<div class="col-md-3" style="float:right; max-height: 400px; margin-top: 40px;">
		<div style="background-color:lightgrey; padding:7px">
			<form name="info" id="info" method="get" action="info.html">
	            <legend>Betting</legend>
	            	<p>
	                    <input type="radio" name="bettingsites" id ="skyid" value="skyvalue" />Sky Bet
	                    <input type="radio" name="bettingsites" id ="williamid" value="williamvalue" />William Hill
	                    <input type="radio" name="bettingsites" id="thirdid" value="thirdvalue" />Third site<br />

	                </p>
	                <p>
	                    <input type="radio" name="test" id ="winid" value="win" />Win
	                    <input type="radio" name="test" id ="drawid" value="williamvalue" />Draw
	                    <input type="radio" name="test" id="looseid" value="loosevalue" />Loose<br />

	                </p>
	                <p>
	                    <input type="text" name="betamount" id="betamount" value="">
	                    <input type="submit" value="Bet Now" />
	                </p>  
		</form>
		</div>
	</div>



	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</div>
</body>


